@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

.box {
    margin: auto;
    margin-top:-30px; 
    min-height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.searchbar {
    background-color: #3b3b3b;
    --tw-ring-shadow: 0 0 #aa0000 !important;
    position: center;
    font-size: 1.5rem;
    font: Inter;
    width: 500px;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 2rem;
    transition: all .1s;
    transition-delay: .1s;
    align-items: center;
}

.searchbar2 {
    background-color: #3b3b3b;
    --tw-ring-shadow: 0 0 #aa0000 !important;
    position: center;
    font-size: 1.5rem;
    font: Inter;
    width: 400px;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 2rem;
    transition: all .1s;
    transition-delay: .1s;
    align-items: center;
}

.submitbutton{
    background-color: #920a0a;
    --tw-ring-shadow: 0 0 #aa0000 !important;
    position: center;
    font: Inter;
    outline: none;
    transition: all .1s;
    transition-delay: .1s;
    align-items: center;
    padding:0.6em 2em;
    border-radius: 10rem;
    color:#fff;
    background-color:#920a0a;
    font-size:1.4rem;
    border:0;
    cursor:pointer;
}




.searchbar::placeholder {
    color: white;
    opacity: .5;
}


/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.searchbarbox{
    background-color: rgb(59, 59, 59);
    --tw-ring-shadow: 0 0 #aa0000 !important;
    padding: 1rem;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    text-align: left;
    padding: 4px;
    font-size: 16px;
  }
  
  th {
    background-color: rgb(146, 14, 14);
    color: white;
  }
  
  td {
    background-color:#3b3b3b ;
    color: white;
  }

  .productbucket{
    background-color: rgb(26, 27, 30);
  }



  